@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Titillium+Web:wght@200;300;400;600;700&display=swap');

*{
    margin: 0;
    padding:0;
    font-family: 'Open Sans';
}

.nav-carrito{
  background-color: #666;
  width:100vw;
  height:80px ;
}
.name-shop{
  align-items: center;
  justify-content: center;
  display: flex;
  
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #00000080;
}
  
  section {
    max-width: 1000px;
    margin: auto;
    padding: 30px 0;
  }
  
  section .h1h {
    font-size: 44px;
  }
  
  .conte {
    text-align: center;
  }
  
  .conte p {
    font-size: 60px;
    font-weight: bold;
    margin: 1em 0;
  }
  
  .conte a {
    color: white;
    text-decoration: none;
    background: #8BC34A;
    padding: 4px 20px;
    border-radius: 30px;
    font-size: 30px;
    margin: 10px;
  }

header{
    background-size: cover;
    background-position:center;
    height: 500px;
}

header h1{
    text-align: center;
    font-size: 35px;
    /* background-color: #000; */
    color: #fff;
    padding: 30px 0;
}

.contenedor{
    max-width: 1200px;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    /* oculto lo que queda fuera del .contenedor */
    contain: paint;
}
/* SECCION CONTENEDOR DE ITEMS */
.contenedor .contenedor_items {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Tres columnas */
  grid-auto-rows: auto; /* Altura automática de las filas */
  grid-gap: 30px;
  width: 100%;
  transition: .3s;
}

.contenedor .contenedor_items .item {
  max-width: 200px;
  margin: auto;
  border: 1px solid #666;
  border-radius: 10px;
  padding: 20px;
  transition: .3s;
}

.contenedor .contenedor_items .item .img_item{
    width: 100%;
}
.contenedor .contenedor_items .item:hover{
    box-shadow: 0 0 10px #666;
    scale: 1.05;
}
.contenedor .contenedor_items .item .titulo_item{
    display: block;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
.contenedor .contenedor_items .item .precio_item{
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    } 

.contenedor .contenedor_items .item .boton_item{
    display: block;
    margin: 10px auto;
    border: none;
    background-color: black;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}
.info{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* seccion carrito */

.bookmarkBtn {
  width: 100px;
  height: 40px;
  border-radius: 40px;
  border: 1px solid rgba(255, 255, 255, 0.349);
  background-color: rgb(12, 12, 12);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: .3s;
  overflow: hidden;
}

.IconContainer {
  width: 30px;
  height: 30px;
  background: linear-gradient(to bottom, rgb(213, 213, 213),#f0efac);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 2;
  transition-duration: .3s;
}

.icon {
  border-radius: 1px;
}

.text {
  height: 100%;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 1;
  transition-duration: .3s;
  font-size: 1.04em;
}

.bookmarkBtn:hover .IconContainer {
  width: 90px;
  border-radius: 40px;
  transition-duration: .3s;
}

.bookmarkBtn:hover .text {
  transform: translate(10px);
  width: 0;
  font-size: 0;
  transition-duration: .3s;
}

.bookmarkBtn:active {
  transform: scale(0.95);
  transition-duration: .3s;
}

.Btn {
  width: 130px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(15, 15, 15);
  border: none;
  color: white;
  font-weight: 600;
  gap: 8px;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  margin: auto ;
  margin-top: 5px;
}

.svgIcon {
  width: 16px;
}

.svgIcon path {
  fill: white;
}

.Btn::before {
  width: 130px;
  height: 130px;
  position: absolute;
  content: "";
  background-color: white;
  border-radius: 50%;
  left: -100%;
  top: 0;
  transition-duration: .3s;
  mix-blend-mode: difference;
}

.Btn:hover::before {
  transition-duration: .3s;
  transform: translate(100%,-50%);
  border-radius: 0;
}

.Btn:active {
  transform: translate(5px,5px);
  transition-duration: .3s;
}
.modal {
  position: absolute;
  top:900px;
  height: 300px;
 
 
  transition: right 0.3s;
}
.carrito{
  display: flex;
  justify-content: center;
  align-items: center;

}

.modal-img {
  width: 65px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
  margin: auto 0 ;
}

.modal-content {
  background: #ffffffd0;
  border-radius: 5px;
  z-index: 1;
  text-align: center;
}

table {
  border-collapse: collapse;
  margin-top: 10px;
}

th,
td {
  padding: 8px;
  border-bottom: 3px solid black;
}

th {
  background-color: #f2f2f2;
}
.agregado {
  text-align: center;
}
.table-container {
  max-height: 400px;
  overflow-y: auto;
  transition: bottom 1.3s ease-in-out;
}

.btn4 {
  margin-left: 35px;
  margin-right: 20%;
  margin-top: 5px;
  padding: 10px 20px;
  background-color: #07132bf3;
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
}

.title{
  text-align: center;
  margin-top: 80px;
  font-family: sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  color: white;
}

.container__slider{
  
  max-width: 1000px;
  height: 500px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}

input[type=radio]{
  display: none;
}

.container{
  width: 100%;
  max-width: 800px;
  height: 100%;
  max-height: 600px;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards{
  position: relative;
  width: 100%;
  height: 700px;
}

.card{
  position: absolute;
  width: 60%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  cursor: pointer;
  transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
  object-fit: cover;
}


#item-2:checked ~ .cards #selector-1,
#item-1:checked ~ .cards #selector-3,
#item-3:checked ~ .cards #selector-2{
  transform: translateX(-40%) scale(0.8);
  opacity: 0.6;
  z-index: 0;
}

#item-3:checked ~ .cards #selector-1,
#item-1:checked ~ .cards #selector-2,
#item-2:checked ~ .cards #selector-3{
  transform: translateX(40%) scale(0.8);
  opacity: 0.6;
  z-index: 0;
}

#item-1:checked ~ .cards #selector-1,
#item-2:checked ~ .cards #selector-2,
#item-3:checked ~ .cards #selector-3{
  transform: translateX(0) scale(1);
  z-index: 1;
}

/* SECCION RESPONSIVE */
@media screen and (max-width: 850px) {
    .contenedor {
      display: block;
    }
    .contenedor_items{
        width: 100% !important;
    }
    .carrito{
        width: 100%;
    }
  }





  

